@media (max-width: 600px) {
    body {
      font-size: 14px;
    }
  
    .container {
      padding: 10px;
    }
  }
  
  /* Estilos para telas médias (tablets) */
  @media (min-width: 601px) and (max-width: 1024px) {
    body {
      font-size: 16px;
    }
  
    .container {
      padding: 20px;
    }
  }
  
  /* Estilos para telas grandes (desktops) */
  @media (min-width: 1025px) {
    body {
      font-size: 18px;
    }
  
    .container {
      padding: 30px;
    }
  }